.App {
  margin: auto;
  margin-top: 20px;
  width: 900px;
  font-family: Arial;
  color: white;
}
a:link {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: white;
}
img {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 450px;
}
.navBar {
  position: sticky;
  top: 0%;
  width: 150px;
  height: 100vh;
  padding: 2px;
  background-color: rgb(136, 136, 136);
}
.navBarMob {
  position: sticky;
  margin: auto;
  top: 0%;
  width: 900px;
  border-spacing: 10%;
  background-color: rgb(136, 136, 136);
}

.content {
  /* border: 1px blue dashed; */
  margin: 5px;
}
.selector {
  border: 1px white solid;
  background-color: rgb(136, 136, 136);
  height: 50px;
  width: 147px;
  padding-top: 10%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  font-size: 130%;
  transition: 1.5s background-color;
}
.selector:hover {
  transition: 1.5s background-color, .5s transform;
  transform: scale(1.1,1.1);
  background-color: black;
}

.article {
  background-color: rgb(136, 136, 136);
  margin-bottom: 15px;
  margin-left: 17px;
  padding: 15px;
  width: 90%;
}
.artTitle {
  font-size: 175%;
  text-align: center;
}
.artDate {
  text-align: right;
  font-size: 75%;
}